# Node and dependencies
node_modules/
backend/node_modules/
frontend/my-app/node_modules/

# Environment files
.env
backend/.env
frontend/my-app/.env

# Build output
dist/
build/

# OS & IDE
.DS_Store
.vscode/
